[submodule "BigBang"]
	path = BigBang
	url = https://github.com/uwp-at-mrit/BigBang.git
[submodule "Auxiliary"]
	path = Auxiliary
	url = https://github.com/uwp-at-mrit/Auxiliary.git
[submodule "DataAccess"]
	path = DataAccess
	url = https://github.com/uwp-at-mrit/DataAccess.git
[submodule "PLCIO"]
	path = PLCIO
	url = https://github.com/uwp-at-mrit/PLCIO.git
[submodule "Graphics"]
	path = Graphics
	url = https://github.com/uwp-at-mrit/Graphics.git
