[submodule "BigBang"]
	path = BigBang
	url = https://github.com/uwp-at-mrit/BigBang.git
[submodule "Auxiliary"]
	path = Auxiliary
	url = https://github.com/uwp-at-mrit/Auxiliary.git
[submodule "DataAccess"]
	path = DataAccess
	url = https://github.com/uwp-at-mrit/DataAccess.git
[submodule "Graphics"]
	path = Graphics
	url = https://github.com/uwp-at-mrit/Graphics.git
[submodule "Configuration"]
	path = Configuration
	url = https://github.com/uwp-at-mrit/Configuration.git
[submodule "WormHole"]
	path = WormHole
	url = https://github.com/uwp-at-mrit/WormHole.git
